In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import _pickle as cPickle
import seaborn as sb
%matplotlib inline
pd.set_option('display.max_rows',999)
pd.set_option('display.max_columns',999)

In [5]:
df = pd.read_pickle('dfaccept')

In [6]:
df = df[['loan_status','issue_d','last_pymnt_d','loan_amnt','int_rate','term']]

In [4]:
df.head(5)

  loan_status   issue_d last_pymnt_d  loan_amnt  int_rate        term
0  Fully Paid  Dec-2015     Jan-2019     3600.0     13.99   36 months
1  Fully Paid  Dec-2015     Jun-2016    24700.0     11.99   36 months
2  Fully Paid  Dec-2015     Jun-2017    20000.0     10.78   60 months
3     Current  Dec-2015     Feb-2019    35000.0     14.85   60 months
4  Fully Paid  Dec-2015     Jul-2016    10400.0     22.45   60 months

In [5]:
df.shape

(2260701, 6)

In [7]:
df_negClass = df[df['loan_status'].isin(['Fully Paid', 'Does not meet the credit policy. Status:Fully Paid'])]

df_posClass = df[df['loan_status'].isin(['Charged Off', 
                                         'Does not meet the credit policy. Status:Charged Off', 'Default'])]


df = pd.concat([df_negClass, df_posClass]).reset_index(drop = True)

In [8]:
df['loan_status_binary'] = (~df.loan_status.isin(['Fully Paid',\
                                                  'Does not meet the credit policy. Status:Fully Paid'])).astype(int)

In [9]:
df.loan_status_binary.value_counts()

0    1078739
1     269360
Name: loan_status_binary, dtype: int64

In [10]:
df.drop('loan_status', axis = 1, inplace = True)

In [11]:
df.head(5)

    issue_d last_pymnt_d  loan_amnt  int_rate        term  loan_status_binary
0  Dec-2015     Jan-2019     3600.0     13.99   36 months                   0
1  Dec-2015     Jun-2016    24700.0     11.99   36 months                   0
2  Dec-2015     Jun-2017    20000.0     10.78   60 months                   0
3  Dec-2015     Jul-2016    10400.0     22.45   60 months                   0
4  Dec-2015     May-2017    11950.0     13.44   36 months                   0

In [12]:
df.shape

(1348099, 6)

In [24]:
df.loan_status_binary.value_counts()

0    1078739
1     269360
Name: loan_status_binary, dtype: int64

In [25]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348099 entries, 0 to 1348098
Data columns (total 6 columns):
issue_d               1348099 non-null object
last_pymnt_d          1345774 non-null object
loan_amnt             1348099 non-null float64
int_rate              1348099 non-null float64
term                  1348099 non-null object
loan_status_binary    1348099 non-null int32
dtypes: float64(2), int32(1), object(3)
memory usage: 56.6+ MB

In [28]:
df.term=df.term.str.extract('(\d+)') #extract numeric number from term, removing ' months' string

In [32]:
df['term'] = pd.to_numeric(df['term'])

In [33]:
df.head(5)

    issue_d last_pymnt_d  loan_amnt  int_rate  term  loan_status_binary
0  Dec-2015     Jan-2019     3600.0     13.99    36                   0
1  Dec-2015     Jun-2016    24700.0     11.99    36                   0
2  Dec-2015     Jun-2017    20000.0     10.78    60                   0
3  Dec-2015     Jul-2016    10400.0     22.45    60                   0
4  Dec-2015     May-2017    11950.0     13.44    36                   0

In [34]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348099 entries, 0 to 1348098
Data columns (total 6 columns):
issue_d               1348099 non-null object
last_pymnt_d          1345774 non-null object
loan_amnt             1348099 non-null float64
int_rate              1348099 non-null float64
term                  1348099 non-null int64
loan_status_binary    1348099 non-null int32
dtypes: float64(2), int32(1), int64(1), object(2)
memory usage: 56.6+ MB

In [36]:
def missing_data(df):
    miss = np.sum(df.isnull(),axis =0)
    miss = miss.loc[miss>0].sort_values(ascending = False)
    missmean = np.mean(df.isnull(),axis =0)
    missmean = missmean.loc[missmean>0].sort_values(ascending = False)
    return pd.concat([miss.rename('count'),missmean.rename('mean')],axis = 1)

In [37]:
missing_data(df)

              count      mean
last_pymnt_d   2325  0.001725

In [38]:
df.shape

(1348099, 6)

In [41]:
df=df.dropna() #remove missing payment date rows

In [42]:
df.shape

(1345774, 6)

In [43]:
df['issue_d'] = df['issue_d'].apply(pd.to_datetime)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [45]:
missing_data(df)

Empty DataFrame
Columns: [count, mean]
Index: []

In [46]:
df['last_pymnt_d'] = df['last_pymnt_d'].apply(pd.to_datetime)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [47]:
missing_data(df)

Empty DataFrame
Columns: [count, mean]
Index: []

In [48]:
df.head(10)

     issue_d last_pymnt_d  loan_amnt  int_rate  term  loan_status_binary
0 2015-12-01   2019-01-01     3600.0     13.99    36                   0
1 2015-12-01   2016-06-01    24700.0     11.99    36                   0
2 2015-12-01   2017-06-01    20000.0     10.78    60                   0
3 2015-12-01   2016-07-01    10400.0     22.45    60                   0
4 2015-12-01   2017-05-01    11950.0     13.44    36                   0
5 2015-12-01   2016-11-01    20000.0      9.17    36                   0
6 2015-12-01   2017-01-01    20000.0      8.49    36                   0
7 2015-12-01   2018-08-01    10000.0      6.49    36                   0
8 2015-12-01   2017-04-01     8000.0     11.48    36                   0
9 2015-12-01   2017-03-01     1400.0     12.88    36                   0

In [51]:
df['payment_months'] = ((df.last_pymnt_d - df.issue_d)/np.timedelta64(1, 'M'))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
df['payment_months'] = df['payment_months'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
df.head(5)

,issue_d,last_pymnt_d,loan_amnt,int_rate,term,loan_status_binary,payment_months
0,2015-12-01,2019-01-01,3600.0,13.99,36,0,37
1,2015-12-01,2016-06-01,24700.0,11.99,36,0,6
2,2015-12-01,2017-06-01,20000.0,10.78,60,0,18
3,2015-12-01,2016-07-01,10400.0,22.45,60,0,6
4,2015-12-01,2017-05-01,11950.0,13.44,36,0,16

In [55]:
df_paid = df[df['loan_status_binary'] == 0]
df_default = df[df['loan_status_binary']== 1]

In [56]:
df.term.mean() #average term (months) for overall df

41.78293829424554

In [57]:
df.loan_amnt.mean() #average loan amount for overall df

14408.04564882365

In [59]:
df.int_rate.mean() #average interest rate for overall df

13.235456168729064

In [60]:
df.payment_months.mean() #average months between issue date and last payment recieved for overall df

20.49827905725627

In [61]:
df_paid.term.mean() #average term (months) for paid loans (0 binary)

40.88256751633157

In [62]:
df_paid.loan_amnt.mean() #average loan amount for paid loans (0 binary)

14124.637238479372

In [63]:
df_paid.int_rate.mean() #average interest rate for paid loans (0 binary)

12.62578605209418

In [64]:
df_paid.payment_months.mean() #average months between issue date and last payment recieved for paid loans (0 binary)

21.710313616175924

In [73]:
df_paid.payment_months.mean()/df_paid.term.mean() #this should be 1, but it is not for some reason

0.5310408551885395

In [80]:
multiplier=1/(df_paid.payment_months.mean()/df_paid.term.mean()) #create multipler to raise above ratio to 1

In [81]:
1/(df_paid.payment_months.mean()/df_paid.term.mean())

1.8830942859282689

In [83]:
multiplier*df_paid.payment_months.mean() #to check

40.88256751633158

In [ ]:
#for paid loans (0 on the binary) calculated loan amounts are below:

In [ ]:
# $425.92 for each payment

In [ ]:
# $3,337.95 total interest paid (profit)***

In [ ]:
# total principal + interest $17,462.59

In [ ]:
# principal is $14124.64

In [ ]:
# 41 number of payments

In [65]:
df_default.term.mean() #average term (months) for defaulted loans (1 binary)

45.42015840620144

In [66]:
df_default.loan_amnt.mean() #average loan amount for defaulted loans (1 binary)

15552.928174209374

In [67]:
df_default.int_rate.mean() #average interest rate for defaulted loans (1 binary)

15.698335311892446

In [68]:
df_default.payment_months.mean() #average months between issue date and last payment recieved for defaulted loans (1 binary)

15.602033441309192

In [74]:
df_default.payment_months.mean()/df_default.term.mean() #atleast this is signficantly less than 0.531, shows relationship

0.34350460211470707

In [84]:
multiplier*df_default.payment_months.mean() #applying multipler for a more realistic number (hopefully)

29.380100022191105

In [ ]:
#for defaulted loans (0 on the binary) calculated loan amounts are below:

In [ ]:
# $459.47 for each payment

In [ ]:
# $5,123.14 total interest paid (profit, if they didnt default)

In [ ]:
# $20,676.07 total principal + interest

In [ ]:
# principal is $15552.93

In [ ]:
#45 number of total payments

In [ ]:
#if we assume with the multiplier that 29 months of payments was the default point then

In [87]:
29*459.47-15552.93 #is the loss attributed to each default (payment number * payment amount - loan amount)

-2228.2999999999993

In [ ]:
#without the multiplier, so defaulted at after 16 months

In [88]:
16*459.47-15552.93 #is the loss attributed to each default (payment number * payment amount - loan amount)

-8201.41

In [69]:
df_paid.shape

(1078739, 7)

In [70]:
df_default.shape

(267035, 7)

In [71]:
df.shape

(1345774, 7)